@import 'colors-and-fonts.scss';
$bento-dim: 1000px;
$sun-dim: min(20vw, 20vh);
$ast-dim: 140px;
$orbital-speed: 17s;
$projwob: 3;
$name-size: 170px;

* {
    font-family: 'Roboto';
}

.spaceSection{
    z-index: 4;
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
    overflow: hidden;
    background-image: url('../images/star-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini-planet-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sun {
    height: $sun-dim;
    width: $sun-dim;
    position: relative;
    border-radius: 50%;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
    animation: rot 180s linear infinite;
    box-shadow: 0 0 16px 16px #fcd320;
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--planet-size);
    height: var(--planet-size);
    border-radius: 50%;
    transform: translate(calc(var(--orbit-size) * $sun-dim * -1));
    transform-origin: calc(var(--orbit-size) * $sun-dim) 0;
    animation: orbit calc(var(--orbital-speed) * $orbital-speed) linear infinite;
    background-position: center;
    background-size: cover;

    box-shadow: inset -4px 0 3px 2px #fff;
}

.mercury {
    background-image: url('../images/github.png');
}

.venus {
    background-image: url('../images/linkedin.webp');
}

.earth {
    background-image: url('../images/facebook.png');
}

.mars {
    background-image: url('../images/insta.png');
}

@keyframes containerOrbit {
    0% {
        transform: translateX(calc(-3*$name-size)) translateY(-50px);
    }
    50% {
        transform: translateX(calc(3*$name-size)) translateY(-50px);
    }
    100% {
        transform: translateX(calc(-3*$name-size))translateY(-50px); z-index: 4;
    }
}

@keyframes miniOrbit {
    25% {
        transform: translateY(-80px); animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    75% {
        transform: translateY(80px);
    }
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*@keyframes project-wobble {
    0% {
        transform: rotate(calc((var(--angle) - $projwob) * 1deg))
    }
    50% {
        transform: rotate(calc((var(--angle) + $projwob) * 1deg))
    }
    100% {
        transform: rotate(calc((var(--angle) - $projwob) * 1deg))
    }
}*/

@keyframes orbit {
    from {
        transform: translate(calc(-1 * var(--orbit-size) * $sun-dim), 0) rotate(var(--orbital-offSet-i));
    }
    to {
        transform: translate(calc(-1 * var(--orbit-size) * $sun-dim), 0) rotate(var(--orbital-offSet-f));
    }
}