@font-face {
    font-family: 'Aliseo';
    src: url('../fonts/ALISEO-NonCommercial.otf');
}
@font-face {
    font-family: 'Pan Neue';
    src: url('../fonts/PaneuropaNeueRegular.otf');
}
@font-face {
    font-family: 'Quark Bold';
    src: url('../fonts/Quark/Quark-Bold.otf');
}
@font-face {
    font-family: 'Quark Light';
    src: url('../fonts/Quark/Quark-Light.otf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/RobotoLight-aW3R.ttf')
}

$primary: #000000;
$secondary: #b8def0;
$background: #f8f8f8;
$purp: #9985ff;
$purp-dark: #33219f;
$blue: #b8def0;