@import 'colors-and-fonts.scss';
$img-height: 700px;


*{
    //font-family: Aliseo;
    font-family: 'Quark Light';
}

.space{
    background-color: $background;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section.large {
    min-height: 100vh;
    padding: 2vh;
}

.section.small {
    min-height: 20vh;
    padding: 120px 0 0 0;
}


//for the home page/text
.section .name-logo{
    z-index: 2;
    color: $primary;
    height: 100vh;

    transform: translateY(28vh);
    font-size: calc(10vw + 7vh);
    animation: logoRise 1.5s ease-out;
}

@media (max-width: 800px){
    .section .name-logo{
        font-size: 170px;
        $name-size: 170px;
    }
    .elevator{
        font-size: 40px;
    }
}

@media (max-width: 600px){
    .section .name-logo{
        font-size: 80px;
        $name-size: 80px;
    }
    .card {
        width: 280px;
    }
}

@media (max-width: 370px){
    .section .name-logo{
        font-size: 50px;
        $name-size: 50px;
    }
}

.elevator{
    grid-row: 1;
    grid-column: 1;
    font-size: calc(3.3vw);
}

.textplusframeworks{
    position: absolute;
    top: -10%;
    left: 50%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    padding: 40px 6% 40px 0px;
}

.header {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 2px;
    padding: 23px 0;
    width: 100vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.link{
    text-decoration: none;
    color: $primary;
    opacity: 0.8;
    scale: 1;
    transition: 0.3s ease-in-out;
}

.link:hover{
    transition: 0.3s ease-in-out;
    opacity: 1;
    scale: 1.2;
}

a {
    text-decoration: none;
    color: $primary;
}

//for the About page
.aboutLogo{
    z-index: 2;
    text-align: center;
    font-size: 90px;
}

.blurb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 113px 0 0 0;
}

.blurb p{
    font-size: min(4.3vh, 2.6vw);
    max-width: 50%;
    text-wrap: wrap;
    text-align: center;
}

.aboutImg{
    width: 30vw;
    height: auto;
    border-radius: 40px; //placeholder image ratio is 5:4
}

.emailPage{
    display: flex;
    flex-direction: column;
}

.input-body{
    width: 200%;
    height: 10%;
    text-orientation: initial;
    text-wrap: wrap;
}

@keyframes logoRise{
    from{
        display: none;
        opacity: 0;
        transform: translateY(48vh);
    }
    to{
        display: block;
        opacity: 1;
        transform: translateY(28vh);
    }
}

//for the mini about section on the home page
.sideThing {
    position: absolute;
    top: -15%;
    left: 6%;

    height: 95vh;
    width: 30vw;
    background-image: linear-gradient(150deg, $purp 40%, $purp-dark);
    border-radius: 50px;
    
    text-justify: center;
}

.imgContainer {
    position: absolute;
    top: 12%;
    left: 15%;

    height: auto;
    width: 110%;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 60%);

    display: flex;
    justify-content: center;
    align-items: center;
}

//for the project cards
.card {
    width: 320px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 3%;

    background-image: linear-gradient(10deg, $purp 40%, $purp-dark);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 60%);
}

.card-image{
    margin: 20px;
}

.card-text{
    margin: 15px;
}