@import 'colors-and-fonts.scss';
$img-height: 700px;
$exp-height: 450px;


*{
    //font-family: Aliseo;
    font-family: 'Roboto';
    scrollbar-width: none;
}

.space{
    z-index: 3;
    background-color: $background;
}

.section{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section.large {
    min-height: 100vh;
    padding-bottom: 10vh;
    margin-bottom: 10vw;
}

.section.small.display {
    margin: 0;
    padding: 0;
    
    height: $exp-height + 100px;
}

.section.small.scroll {
    padding-left: 50%;
    padding-right: 50%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    // width: 100%;
    width: 0%;  // necessary for the padding on either side of the scrollbar
    direction: rtl;
    justify-content: flex-start;
    scroll-behavior: smooth;
    border-top: 4px solid;
    border-left: transparent;
    border-image: linear-gradient(90deg, white 20%, black 50%, white 80%) 1;
    height: 2vh;
    padding-top: 2%;
}

.section.small.scroll .borderdiv {
    margin-top: 20%;
    height: 100%;
}


//for the home page/text
.section .name-logo{
    z-index: 0;
    color: $primary;
    height: 100vh;

    transform: translateY(28vh);
    font-size: calc(10vw + 7vh);
    animation: logoRise 1.5s ease-out;
}

.header {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 2% 4%;
    width: 92vw;
    position: fixed;
}

.header-logo{
    text-align: center;
    font-size: calc(8px + 3vw);
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 1vw);
    gap: 3.2vw;
}

.link{
    text-decoration: none;
    color: $primary;
    opacity: 0.8;
    scale: 1;
    transition: 0.3s ease-in-out;
}

.link:hover{
    transition: 0.3s ease-in-out;
    opacity: 1;
    scale: 1.2;
}

a {
    text-decoration: none;
    color: $primary;
}

@media (max-width: 800px){
    .section .name-logo{
        font-size: 170px;
        $name-size: 170px;
    }
    .elevator{
        font-size: 40px;
    }
}

@media (max-width: 600px){
    .section .name-logo{
        font-size: 80px;
        $name-size: 80px;
    }
    .card {
        width: 280px;
    }
}

@media (max-width: 370px){
    .section .name-logo{
        font-size: 50px;
        $name-size: 50px;
    }

}

//for the About page
.aboutLogo{
    z-index: 0;
    text-align: center;
    font-size: 90px;
}

.blurb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 113px 0 0 0;

    position: relative;
}

.blurb p{
    font-size: min(5.5vh, 3.0vw);
    max-width: 50%;
    text-wrap: wrap;
    text-align: left;
    text-indent: 50px;
}

.aboutImg{
    width: 30vw;
    height: auto;
    border-radius: 40px; //placeholder image ratio is 5:4
}

.aboutImg.two {
    width: 35vw;
}

@keyframes logoRise{
    from{
        display: none;
        opacity: 0;
        transform: translateY(48vh);
    }
    to{
        display: block;
        opacity: 1;
        transform: translateY(28vh);
    }
}

//for the mini about section on the home page
.sideThing {
    position: absolute;
    top: 15%;
    left: 10%;

    height: calc(50px + 40vw);
    width: 25vw;
    background-image: linear-gradient(150deg, $purp 40%, $purp-dark);
    border-radius: 3.5vw;
    
    text-justify: center;
}

.imgContainer {
    position: absolute;
    top: 10%;
    left: 20%;

    height: auto;
    width: 98%;
    border-radius: 3.5vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 60%);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn ease 1s;
}

.elevator{
    grid-row: 1;
    grid-column: 1;
    font-size: calc(12px + 2vw);

    opacity: 0;
    animation: fadeIn ease 1.5s forwards;
    animation-delay: 0.5s;
}

.textplusframeworks{
    position: absolute;
    top: 11%;
    left: 45%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    padding: 40px 7% 40px 0px;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

//for the project cards
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.projcard {
    width: 45vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 30px;
    //box-shadow: 5px 5px 5px rgb(0, 0, 0, 60%);
}

.proj-wrapper {
    width: 45vw;
    height: 78vh;
    background-size: cover;
}

.proj-entry{
    width: 42vw;    //replace with proper padding
    padding: 0 1.5vw;
}

.proj-name{
    font-size: calc(28px);
    text-align: left;
    margin-top: 16px;
    margin-bottom: 2px;
}

.proj-stack{
    font-size: calc(16px);
    font-style: italic;
    margin-bottom: 16px;
}

.proj-link {
    font-weight: bold;
    color: #9985ff;
} 

.proj-desc{
    margin-top: 16px;
}

.expImage {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 50px 3%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 60%);
}

.langsandframeworks {
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8vh 0 0 0;

    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 1s;
}

.lfCard {
    width: calc(20px + 4vw);
    height: auto;

    margin: 2vh 15px;

    border-radius: 15%;
    transition: .3s ease-in-out;
}

.lfCard.small {
    width: calc(45px + 1.1vw);
    height: auto;
}

.lfCard:hover{
    transform: rotate(-20deg);
    transition: .3s ease-in-out;
}

.card-image{
    margin: 20px;
}

.card-text{
    margin: 15px;
}

.projectIMG{
    width: 30%;
    height: auto;
    margin-top: 120px;
    border-radius: 20px;
}

.section.small p, h1{
    width: 100%;
    text-align: center;
}

h1{
    text-indent: 0;
}

.page-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-div .section.small.desc {
    width: 60vw;
    text-indent: 100px;
    text-align: left;
    font-size: calc(14px + .84vw);
    margin-bottom: 50px;
}

.expcard {
    width: $exp-height * 1/1.2;
    height: $exp-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    // background-image: linear-gradient(300deg, $purp 60%, $purp-dark);
    // background-color: $purp;

    padding: 5px;

    border-style: solid outset;
    border-width: 20px;
    border-color: $purp;
    border-radius: 30px;

    position: relative;
}