@font-face {
    font-family: 'Aliseo';
    src: url('../fonts/ALISEO-NonCommercial.otf');
}
@font-face {
    font-family: 'Pan Neue';
    src: url('../fonts/PaneuropaNeueRegular.otf');
}
@font-face {
    font-family: 'Quark Bold';
    src: url('../fonts/Quark/Quark-Bold.otf');
}
@font-face {
    font-family: 'Quark Light';
    src: url('../fonts/Quark/Quark-Light.otf');
}

$primary: #000000;
$secondary: #b8def0;
$background: #f8f8f8;
$purp: #7765e3;