@font-face {
  font-family: "Aliseo";
  src: url("../fonts/ALISEO-NonCommercial.otf");
}
@font-face {
  font-family: "Pan Neue";
  src: url("../fonts/PaneuropaNeueRegular.otf");
}
@font-face {
  font-family: "Quark Bold";
  src: url("../fonts/Quark/Quark-Bold.otf");
}
@font-face {
  font-family: "Quark Light";
  src: url("../fonts/Quark/Quark-Light.otf");
}
* {
  font-family: "Quark Light";
}

.space {
  background-color: #f8f8f8;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section.large {
  min-height: 100vh;
  padding: 2vh;
}

.section.small {
  min-height: 20vh;
  padding: 120px 0 0 0;
}

.section .name-logo {
  z-index: 2;
  color: #000000;
  height: 100vh;
  transform: translateY(28vh);
  font-size: calc(10vw + 7vh);
  animation: logoRise 1.5s ease-out;
}

@media (max-width: 800px) {
  .section .name-logo {
    font-size: 170px;
  }
  .elevator {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .section .name-logo {
    font-size: 80px;
  }
  .card {
    width: 280px;
  }
}
@media (max-width: 370px) {
  .section .name-logo {
    font-size: 50px;
  }
}
.elevator {
  grid-row: 1;
  grid-column: 1;
  font-size: 3.3vw;
}

.textplusframeworks {
  position: absolute;
  top: -10%;
  left: 50%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  padding: 40px 6% 40px 0px;
}

.header {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: 2px;
  padding: 23px 0;
  width: 100vw;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.link {
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
  scale: 1;
  transition: 0.3s ease-in-out;
}

.link:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
  scale: 1.2;
}

a {
  text-decoration: none;
  color: #000000;
}

.aboutLogo {
  z-index: 2;
  text-align: center;
  font-size: 90px;
}

.blurb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding: 113px 0 0 0;
}

.blurb p {
  font-size: min(4.3vh, 2.6vw);
  max-width: 50%;
  text-wrap: wrap;
  text-align: center;
}

.blurb img {
  height: auto;
  width: 30vw;
  border-radius: 40px;
}

.emailPage {
  display: flex;
  flex-direction: column;
}

.input-body {
  width: 200%;
  height: 10%;
  text-orientation: initial;
  text-wrap: wrap;
}

@keyframes logoRise {
  from {
    display: none;
    opacity: 0;
    transform: translateY(48vh);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(28vh);
  }
}
.sideThing {
  position: absolute;
  top: -15%;
  left: 6%;
  height: 95vh;
  width: 30vw;
  background-image: linear-gradient(150deg, #9985ff 40%, #33219f);
  border-radius: 50px;
  text-justify: center;
}

.imgContainer {
  position: absolute;
  top: 12%;
  left: 15%;
  height: auto;
  width: 110%;
  border-radius: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 3%;
  background-image: linear-gradient(10deg, #9985ff 40%, #33219f);
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.card-image {
  margin: 20px;
}

.card-text {
  margin: 15px;
}/*# sourceMappingURL=style.css.map */